include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include planet_custom *.css
recursive-include planet_custom *.csv
recursive-include planet_custom *.html
recursive-include planet_custom *.ico
recursive-include planet_custom *.js
recursive-include planet_custom *.json
recursive-include planet_custom *.md
recursive-include planet_custom *.png
recursive-include planet_custom *.py
recursive-include planet_custom *.svg
recursive-include planet_custom *.txt
recursive-exclude planet_custom *.pyc